:root {
  --text-color: #959aa1;
  ---radius: 1.4rem;
  --section-bgcolor: #565e6a;
  --weather-box: #202b3b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* outline: 2px solid white; */
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#565e6a, #404956, #384250);
  display: grid;
  place-content: center;
  color: white;
}
main.weather-body {
  border-radius: var(---radius);
  width: 80vw;
  height: 80vh;
  filter: drop-shadow(0, 0, 10px, black);
  background-color: #0b131e;
  padding: 1rem 2rem;
}
section.left {
  position: relative;
  float: left;
  border-radius: var(---radius);
  height: 100%;
  width: 10%;
  background-color: var(--weather-box);
}
section.right {
  float: right;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 7% auto;
  padding: 0.5rem;
}
section.right input.search {
  background-color: var(--weather-box);
  border: none;
  border-radius: calc(var(---radius) - 0.8rem);
  margin-right: 35%;
  padding-left: 2%;
  color: #dadada;
}
section.right input.search::placeholder {
  color: #565e6a;
}
section.right input.search:focus {
  outline: 1px solid #565e6a;
}
section.right div.weather-box {
  margin-top: 1%;
  display: grid;
  gap: 1%;
  grid-template-columns: auto 35%;
  grid-template-rows: auto;
}
div.weather-show-timewise,
div.air-contion,
div.weather-box-right {
  position: relative;
  background-color: var(--weather-box);
  border-radius: calc(var(---radius) - 0.8rem);
}
div.weather-box div.weather-box-left {
  display: grid;
  gap: 1%;
  grid-template-columns: auto;
  grid-template-rows: 35% 18vh auto;
}
div.main-weather-show {
  display: grid;
  grid-template-columns: 60% 35%;
  grid-template-rows: auto;
  padding: 1rem 2rem;
}
.weather-left-part {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
h1.cite-name {
  text-transform: capitalize;
  font-size: 1.7rem;
}
span.rain-chances {
  color: #565e6a;
  font-size: 0.7rem;
}
h1.weather-temp {
  font-size: 3rem;
}
div.weather-right-part {
  display: grid;
  place-content: center;
}
div.weather-right-part img {
  margin-right: 45%;
  width: 100%;
}
/* Weather Show Time Wise */
.padding1rem {
  padding: 1rem;
}
div.weather-show-timewise {
  display: grid;
  gap: 8%;
  grid-template-columns: auto;
  grid-template-rows: 17% auto;
}
h1.title {
  color: #78828f;
  font-size: 0.7rem;
  text-transform: uppercase;
}
div.weather-time-section {
  display: grid;
  gap: 2%;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, auto);
}
div.weather-time-section div.weather-time-box {
  border-right: 1px solid #404956;
  display: grid;
  gap: 3%;
  place-content: center;
  text-align: center;
}
div.weather-time-section div.weather-time-box:last-child {
  border: none;
}
div.weather-time-box span.time {
  color: #fffc;
  font-size: 0.7rem;
}
div.weather-time-box img {
  width: 4vw;
  height: 4vw;
  object-fit: cover;
  position: relative;
  right: 5%;
}
div.weather-time-box h3.time-weather-temp {
  padding-left: 7%;
}
/* AIr Conditions */
div.air-condition-innerbox {
  margin-top: 3.5%;
  height: 70%;
  margin-left: 5%;
  display: grid;
  gap: 15% 3%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}
div.innerbox {
  width: 80%;
  display: grid;
  gap: 15%;
}
div.innerbox div.top {
  display: flex;
  gap: 5%;
  align-items: center;
}
div.innerbox div.top span {
  color: var(--text-color);
}
.innerbox-title {
  color: #b4b6b8;
  text-align: center;
  width: 65%;
}
button.see-more {
  border: none;
  padding: 1% 2%;
  border-radius: var(---radius);
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: #4a97c7;
  cursor: pointer;
  color: #fffc;
  font-weight: 100;
  text-transform: capitalize;
}
button.see-more:hover {
  background-color: #55a3d4;
}
/* Setting */
div.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
section.left ul {
  display: grid;
  height: 45%;
  gap: 10%;
  list-style-type: none;
  place-content: center;
}
section.left ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
section.left ul li span {
  margin-top: 12%;
  font-size: 0.8rem;
  color: var(--text-color);
}
/* 7 Days  */
div.day-container {
  margin-top: 5%;
  display: grid;
  gap: 4%;
  grid-template-columns: auto;
  grid-template-rows: repeat(7, 17%);
}
div.day-box {
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--section-bgcolor);
  /* padding: 0.4rem; */
}
div.day-box:last-child {
  border: none;
}
div.day-box div.weather {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
div.day-box span {
  font-size: 0.75rem;
}
