:root {
  --text-color: #959aa1;
  ---radius: 1.4rem;
  --section-bgcolor: #565e6a;
  --weather-box: #202b3b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* outline: 2px solid white; */
}
.displaynone {
  display: none !important;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#565e6a, #404956, #384250);
  display: grid;
  place-content: center;
  color: white;
}
main.weather-body {
  border-radius: var(---radius);
  width: 80vw;
  height: 80vh;
  filter: drop-shadow(0, 0, 10px, black);
  background-color: #0b131e;
  padding: 1rem 2rem;
}
section.left {
  position: relative;
  float: left;
  border-radius: var(---radius);
  height: 100%;
  width: 10%;
  background-color: var(--weather-box);
}
section.right {
  float: right;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 7% auto;
  padding: 0.5rem;
}
section.right input.search {
  background-color: var(--weather-box);
  border: none;
  border-radius: calc(var(---radius) - 0.8rem);
  margin-right: 35%;
  padding-left: 2%;
  color: #dadada;
}
section.right input.search::placeholder {
  color: #565e6a;
}
section.right input.search:focus {
  outline: 1px solid #565e6a;
}
section.right div.weather-box {
  margin-top: 1%;
  display: grid;
  gap: 1%;
  grid-template-columns: auto 35%;
  grid-template-rows: auto;
}
div.weather-show-timewise,
div.air-contion,
div.weather-box-right {
  position: relative;
  background-color: var(--weather-box);
  border-radius: calc(var(---radius) - 0.8rem);
}
div.weather-box div.weather-box-left {
  display: grid;
  gap: 1%;
  grid-template-columns: auto;
  grid-template-rows: 35% 18vh auto;
}
div.main-weather-show {
  display: grid;
  grid-template-columns: 60% 35%;
  grid-template-rows: auto;
  padding: 1rem 2rem;
}
.weather-left-part {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
h1.cite-name {
  text-transform: capitalize;
  font-size: 1.7rem;
}
span.rain-chances {
  color: #565e6a;
  font-size: 0.7rem;
}
h1.weather-temp {
  font-size: 3rem;
}
div.weather-right-part {
  display: grid;
  place-content: center;
}
div.main-weather-show div.weather-right-part img {
  margin-right: 45%;
  width: 100%;
}
/* Weather Show Time Wise */
.padding1rem {
  padding: 1rem;
}
div.weather-show-timewise {
  display: grid;
  gap: 8%;
  grid-template-columns: auto;
  grid-template-rows: 17% auto;
}
h1.title {
  color: #78828f;
  font-size: 0.7rem;
  text-transform: uppercase;
}
div.weather-time-section {
  display: grid;
  gap: 2%;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, auto);
}
div.weather-time-section div.weather-time-box {
  border-right: 1px solid #404956;
  display: grid;
  gap: 3%;
  place-content: center;
  text-align: center;
}
div.weather-time-section div.weather-time-box:last-child {
  border: none;
}
div.weather-time-box span.time {
  color: #fffc;
  font-size: 0.7rem;
}
div.weather-time-box img {
  width: 4vw;
  height: 4vw;
  object-fit: cover;
  position: relative;
  right: 5%;
}
div.weather-time-box h3.time-weather-temp {
  padding-left: 7%;
}
/* AIr Conditions */
div.air-condition-innerbox {
  margin-top: 3.5%;
  height: 70%;
  margin-left: 5%;
  display: grid;
  gap: 15% 3%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}
div.innerbox {
  width: 80%;
  display: grid;
  gap: 15%;
}
div.innerbox div.top {
  display: flex;
  gap: 5%;
  align-items: center;
}
div.innerbox div.top span {
  color: var(--text-color);
}
.innerbox-title {
  color: #b4b6b8;
  text-align: center;
  width: 65%;
}
button.see-more {
  border: none;
  padding: 1% 2%;
  border-radius: var(---radius);
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: #4a97c7;
  cursor: pointer;
  color: #fffc;
  font-weight: 100;
  text-transform: capitalize;
}
button.see-more:hover {
  background-color: #55a3d4;
}
/* Setting */
div.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
section.left ul {
  display: grid;
  height: 45%;
  gap: 10%;
  list-style-type: none;
  place-content: center;
}
section.left ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
section.left ul li span {
  margin-top: 12%;
  font-size: 0.8rem;
  color: var(--text-color);
}
/* 7 Days  */
div.day-container {
  margin-top: 5%;
  display: grid;
  gap: 4%;
  grid-template-columns: auto;
  grid-template-rows: repeat(7, 17%);
}
div.day-box {
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--section-bgcolor);
  /* padding: 0.4rem; */
}
div.day-box:last-child {
  border: none;
}
div.day-box div.weather {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
div.day-box span {
  font-size: 0.75rem;
}
/* =============================================================================================================== 
                                                    Cites section styling
/* =============================================================================================================== */
div.cites-seciton {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}
div.cites-container {
  width: 100%;
  height: 100%;
  padding: 1.3rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 25%);
}
div.cites-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
  background-color: var(--section-bgcolor);
  border-radius: var(---radius);
  height: 80%;
  cursor: pointer;
}
div.cites-box:first-child {
  border: 1px solid #55a3d4;
  background-color: transparent;
}
div.cites-box div.Box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
}
div.cites-box span.temp {
  font-size: 1.7rem;
}
div.top-cite-weather-temp {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 5%;
  padding-bottom: 9%;
  border-bottom: 1px solid var(--section-bgcolor);
}
div.cites-right {
  padding-top: 2rem;
}
div.cites-right div.weather-right-part {
  display: flex;
}
div.weather-right-part img {
  width: 50%;
}
div.top-cite-weather-temp h1.weather-temp {
  font-size: 2.2rem;
}
div.top-cite-time-weather {
  display: flex;
  /* flex-direction: column; */
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}
div.top-cite-time-weather div.weather-time-section {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
div.top-cite-day-weather div.day-container {
  grid-template-rows: repeat(3, 30%);
}

div.top-cite-day-weather div.day-container div.day-box {
  padding: 0.4rem;
}

/* =============================================================================================================== 
                                                    Setting section styling
/* =============================================================================================================== */
div.setting-section {
  float: right;
  width: 85%;
  height: 100%;
}
div.unites {
  position: relative;
  background-color: var(--weather-box);
  margin-top: 3%;
  border-radius: var(---radius);
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 20%);
}
/* h1.settingtitle {
  position: absolute;
  font-size: 1.2rem;
  top: -6%;
  left: -2%;
} */
div.unites > div {
  margin-bottom: 1.2%;
}
div.unites > div:last-child {
  margin-bottom: 0%;
  padding: 0;
}
div.unites div.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  background: #0b131e;
  padding: 0.2rem;
  border-radius: 0.8rem;
}
div.unites > div:nth-child(2) div.container {
  grid-template-columns: repeat(3, auto);
}
div.unites > div:nth-child(3) div.container {
  grid-template-columns: repeat(4, auto);
}
div.unites > div h1.title {
  margin-bottom: 1.5%;
}
div.menus {
  display: grid;
  place-content: center;
  padding: 0.5rem;
  border: 1px solid #0b131e;
  cursor: pointer;
  border-right: 1px solid var(--section-bgcolor);
}
div.menus:last-child {
  border-right-color: #0b131e;
}
div.menus span {
  pointer-events: none;
  font-size: 0.8rem;
}
div.selected {
  border-radius: 0.5rem;
  background: var(--section-bgcolor);
  width: 100%;
  height: 100%;
  border-right-color: #0b131e;
}
/* button On/off */
.switch {
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 5%;
  height: 0.5%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f8ff;
  transition: 0.4s;
  border-radius: var(---radius);
}

.slider:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--text-color);
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #f0f8ff;
}
.switch input:checked + .slider:before {
  transform: translateX(1.5em);
  background-color: #007fff;
}
/* Genral */
div.general {
  position: relative;
  background-color: var(--weather-box);
  border-radius: var(---radius);
  margin-top: 3%;
  padding: 1rem;
}
div.general > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3% 0 3%;
}
div.time-format {
  padding-bottom: 2.5% !important;
  border-bottom: 1px solid var(--section-bgcolor);
}
div.general div.location-acces span {
  font-size: 0.7rem;
  color: var(--text-color);
}
